#numberP {
  width: 70%;
  height: 60%;
  padding: 20px;
  font-size: 5vh;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 50px;
  text-align: center;
  letter-spacing: 5px;
}
.language{
  grid-row: 1;
  grid-column: 4;
  width: 90%;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  /* align-items: center; */
}
.startContent {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto auto auto auto;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  /* align-items: center; */
  background: #F5F5FB;
}
.russian + p {
  cursor: none;
}
.russian:checked + p {
  outline: 5px solid #f00;
}

.phoneInput {
  grid-column: 1 / span 4;
  grid-row: 3;
  width: 90%;
  text-align: center;
}

.createOrder {
  grid-column: 2 / 4;
  grid-row: 5;
  text-align: center;
  width: 70%;
}



/* .createButton:disabled {
  background-color: gray;
} */

.official {
  grid-column: 1 / span 4;
  grid-row: 2;
  text-align: center;
  width: 90%;
}

.official p {
  font-size: 10vh;
  font-weight: 700;
  text-align: center;
  width: 100%;
  /* letter-spacing: 20px; */
  font-family: Helvetica;
  transform: scale(1.3, 1.6);

}

#numeric {
  grid-column: 2 / 4;
  grid-row: 4;
  text-align: center;
  width: 30%;
}

.taxiService {
  grid-row: 1;
  grid-column: 1 / span 2;
  text-align: center;
}

/* .alertMessage {
  color: red;
  font-size: 36px;
} */
.material-icons1{
  grid-row: 1;
  grid-column: 2;
  width: 70%;
}
.material-icons2{
  grid-row: 1;
  grid-column: 3;
  width: 70%;
}
.material-icons3{
  grid-row: 1;
  grid-column: 4;
  width: 70%;
}
#radios label {
	cursor: pointer;
	position: relative;
}


input[type="radio"] {
	opacity: 0;
	position: absolute;
}

input[type="radio"] + p {
	color: black;
	border-radius: 50%;
  padding: 20%;
  /* font-size: 52px; */
	text-align: center;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

input[type="radio"]:checked + p {
	color: white;
  background-color: #FF3C46;
  text-align: center;
  /* font-size: 52px; */
}

input[type="radio"]:focus + p {
  color: white;
}
