#numberP {
  width: 70%;
  height: 100px;
  padding: 20px;
  font-size: 28px;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 30px;
}
.startContent {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto auto auto auto;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
  background: #F5F5FB;
}
.phoneInput {
  grid-column: 1 / span 4;
  grid-row: 3;
  width: 50%;
  text-align: center;
}

.createOrder {
  grid-column: 2 / 4;
  grid-row: 5;
  text-align: center;
  width: 50%
}
.createButton {

  background-color: #EB5757;
  border: none;
  color: white;
  text-align: center;
  font-size: 50px;
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  /* box-shadow: 5px 10px 10px 5px #FFAAB1; */

}
.createButton:disabled {
  background-color: gray;
}
.official {
  grid-column: 1 / span 4;
  grid-row: 2;
  text-align: center;
  width: 100%;
}
.official p {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}
#numeric {
  grid-column: 2 / 4;
  grid-row: 4;
  text-align: center;
  width: 30%;
}
.taxiService {
  grid-row: 1;
  grid-column: 1 / 3;
  text-align: center;
}
.alertMessage {
  color: red;
  font-size: 36px;
}

